<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>

  <!-- build:css assets/css/style.concat.min.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/components/materialize/bin/materialize.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="/output-css/style.css">
  <!-- endbuild -->

  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>


  {{{body}}}

  <!-- build:js js/scripts.concat.min.js -->
  <!-- bower:js -->
  <script src="/components/jquery/dist/jquery.js"></script>
  <script src="/components/materialize/bin/materialize.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  
  </body>
</html>
