 html, body {
 	height: 100%;
 	width: 100%;
 	padding: 0;
 	margin: 0;
 }

 body {
 	background-image: url('../media/banner-home.jpg');
 	background-size: 100% 100%;
 	background-repeat:no-repeat;
 	-webkit-background-size:cover;
 	-moz-background-size:cover;
 	-o-background-size:cover;
 	background-size:cover;
 	background-position:center;
 }

 .container {
 	width: 100%;	
 	margin-left: 0 !important;
 	overflow-y: hidden;
 	position: relative;
 }

 .content {
 	height: calc(100% - 106px);
 	margin: 0 !important;
 	position: relative;
 }

 .main-content {
 	flex-direction: column;
 	height: 100%;
 	position: relative;
 	padding-left: .5em;	
 	position: relative;
 }

 .form-title {
 	font-size: 22px;
 }

 .banner {
 	padding: 0;
 }

 .img-banner {
 	height: 350px;
 	margin-bottom: 0px !important;
 }

 .information {
 	padding: 0;
 }

 .general-information {
 	background: #000;
 	padding: 0 .5em;
 	color: #fff;
 	margin-bottom: 0;
 	margin-top: -90px;	
 }

 .call-to-sign-in {	
 	padding: .5em;
 	margin-bottom: 0px;	
 	background-color: #000;
 	color: #fff;
 	height: 130px;
 }

 .calls {
 	display: flex;
 	flex-direction: column;
 	flex-wrap: wrap;
 	margin: 0px;
 	padding: 0px;
 }

 .title-information {
 	font-size: 2em;
 }

 .generic-text {
 	font-size: 1.5em;
 }

 .motoristas {
 	display: flex;
 	margin-left: 8em;
 }

 .passageiros {
 	margin-left: 4em;
 }

 .box-information {
 	display: flex;
 	flex-direction: column;
 	align-items: center;align-content: center;
 }

 .box-information h2 {
 	margin-top: 0px;
 }

 .box-information > p {
 	text-align: center;
 }

 .personal, .data {
 	height: auto;
 	margin-bottom: 0px !important;
 	display: flex;
 	justify-content: flex-end;
 }

 .data-form {
 	height: auto;
 }

 input {
 	background-color: #2d2d36;
 }

 .personal-data {
 	color: white;
 	background-color: #2d2c37;
 	height: auto;
 	padding: 1em;
 	margin-bottom: 0px !important;
 	border-radius: 10px;
 	z-index: 999;
 	position: absolute;
 	margin-right: 1em !important;
 }

 .alerts {
 	color: #fff;
 }

 .categoria {
 	float: left;
 	box-sizing: border-box;
 	padding: 0 0.75rem;
 	min-height: 1px;
 }

 .personal-data ._input {
 	margin-top: 0px !important;
 	text-align: center;
 }

 .footer-copyright.container {
 	padding: .5em;
 }

 footer.page-footer{
 	padding-top: 0PX;
 }
 .page-footer {
 	border-top: 1px orange solid;
 	margin: 0px !important;
 	padding-top: 0 !important;
 }

 .logo {
 	height: 45px;
 	width: 45px;
 }

 .image {
 	height: 100%;
 }

 .title-information-box {
 	display: flex;
 	justify-content: center;
 	text-align: center;
 }

 .data {
 	z-index: 9999;
 }

 .dados {
 	display: flex;
 	flex-direction: row;
 	align-items: center;
 	justify-content: center;
 }

 .submit-button {
 	display: flex;
 	justify-content: center;
 	margin-bottom: 1em;
 }

 .img-box img {
 	height: 60px;
 	width: 60px;
 }







